.wdf_minimal .wdf_levels {
	clear: both;
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	background-color: #EEE;
	border: 1px solid #E5E5E5;
	padding: 10px;
}
.wdf_minimal .wdf_levels li{
	cursor: pointer;
	padding: 10px;
	margin: 0 10px;
}
.wdf_minimal .wdf_levels li.item:hover {
	background: #fff;
	cursor: pointer;
}
.wdf_minimal .wdf_content {
	margin: 0;
	padding: 0;
}
.wdf_minimal .wdf_send_amount {
	width: 50px;
}
.wdf_minimal .wdf_progress_info {
	margin-bottom: 10px;
	font-style: italic;
	font-size: 1.4em;
}
.wdf_minimal .wdf_donate_now input[type="text"], textarea {
	margin: 0 0 0 5px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wdf_minimal .wdf_level_amount {
	float: right;
}
.wdf_minimal .wdf_send_donation {
	float: right;	
	color: #333;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
	text-decoration:none;
}
.wdf_minimal .wdf_send_donation:hover {
	
}
.wdf_minimal .wdf_levels .reward {
	padding-left: 30px;
}
#wdf_thank_you.wdf_minimal {
	z-index: 99999999;
}
#wdf_thank_you.wdf_minimal .fade {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	zoom: 1;
	filter:alpha(opacity=50);
	opacity: 0.5;
	z-index: 99999999;
	top: 0px;
	left: 0px;
}
#wdf_thank_you.wdf_minimal .wdf_ty_content {
	border: 1px solid #efef1a;
	background: #ffffe8;
	width: 500px;
	left: 50%;
	top: 100px;
	position: fixed;
	margin-left: -250px;
	height: auto;
	z-index: 999999999;
	padding: 15px;
}
#wdf_thank_you.wdf_minimal .wdf_ty_content h1{
	margin-bottom: 15px;
}
#wdf_thank_you.wdf_minimal .close {
	cursor: pointer;
	display: block;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #ccc;
	padding: 5px 10px 5px 10px;
}