.wdf_note .wdf_rewards {
	clear: both;
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	background: #ffffe8;
	border: 1px dashed #efef1a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
}
.wdf_note .wdf_rewards .wdf_reward_item {
	cursor: pointer;
	padding: 10px;
	margin: 0 10px;
	border-bottom: 1px dashed #efef1a;
}
.wdf_note .wdf_rewards .wdf_reward_item:hover {
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.wdf_note .wdf_content {
	margin: 0;
	padding 0;
}
.wdf_note .wdf_send_amount {
	width: 50px;
}
.wdf_note .wdf_progress_info {
	margin-bottom: 10px;
	font-style: italic;
	font-size: 1.4em;
}
.wdf_note .wdf_donate_now input[type="text"], textarea {
	margin: 0 0 0 5px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wdf_note .wdf_level_amount {
	font-size: 2em;
}
.wdf_note .wdf_reward_description {
	font-size: 1em;
}
.wdf_note .wdf_send_donation {
	float: right;	
	color: #fff;
    cursor: pointer;
    display: inline-block;
	background-color: #6eb850;
	background-image: -moz-linear-gradient(top, #62C462, #51A351);
	background-image: -ms-linear-gradient(top, #62C462, #51A351);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
	background-image: -webkit-linear-gradient(top, #62C462, #51A351);
	background-image: -o-linear-gradient(top, #62C462, #51A351);
	background-image: linear-gradient(top, #62C462, #51A351);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
	border-color: #51A351 #51A351 #387038;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    padding: 5px 9px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    line-height: normal;
    border: 1px solid #5BB75B;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
	text-decoration:none;
}
.wdf_note .wdf_send_donation:hover {
	background: #6eb850;
}
#wdf_thank_you.wdf_note {
	z-index: 99999999;
}
#wdf_thank_you.wdf_note .fade {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	zoom: 1;
	filter:alpha(opacity=50);
	opacity: 0.5;
	z-index: 99999999;
	top: 0px;
	left: 0px;
}
#wdf_thank_you.wdf_note .wdf_ty_content {
	background: #ffffe8;
	border: 1px dashed #efef1a;
	width: 500px;
	left: 50%;
	top: 100px;
	position: fixed;
	margin-left: -250px;
	height: auto;
	z-index: 999999999;
	padding: 15px;
}
#wdf_thank_you.wdf_note .wdf_ty_content h1{
	margin-bottom: 15px;
}
#wdf_thank_you.wdf_note .close {
	cursor: pointer;
	display: block;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	background: #ccc;
	padding: 5px 10px 5px 10px;
}
.ui-progressbar{
	height: 1em;
	margin: 10px 0 0 0;
}