.wdf-dark .wdf_choose_reward_title {
	font-size: 1.5em;
}
.wdf-dark .wdf_rewards {
	clear: both;
	list-style: none;
	margin: 10px 0 0 0;
	padding: 10px;
	background-color: #272628;
	background-image: -o-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	text-shadow: -1px -1px 0px #111;
}

.wdf-dark .wdf_rewards h4{
	color: #fff;
	font-weight: 400;
}
.wdf-dark .wdf_rewards .wdf_reward_item{
	cursor: pointer;
	padding: 10px;
	margin: 0;
	border-bottom: 1px solid #111;
}
.wdf-dark .wdf_rewards .wdf_reward_item:hover {
	background: rgba(255, 255, 255, 0.1);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.wdf-dark .wdf_content {

}
.wdf-dark .wdf_send_amount {
	width: 50px;
}
.wdf-dark .wdf_progress_info {
	margin-bottom: 10px;
	font-style: italic;
	font-size: 1.4em;;
}
.wdf-dark .wdf_donate_now input[type="text"], textarea {
	opacity: 0.5;
	margin: 0 0 0 5px;	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0;
	line-height: 1em;
}
.wdf-dark .wdf_level_amount {

}
.wdf-dark .wdf_send_donation, 
.wdf-dark .wdf_button {
	color: #eee;
    cursor: pointer;
	display: inline-block;
	background-color: #413E44;
	background-image: -o-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: -moz-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: -webkit-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: -ms-linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	background-image: linear-gradient(90deg , rgb(28,28,28) 0%, rgb(66,63,69) 100%);
	padding: 5px 9px 6px;
    text-shadow: -1px -1px 0 #111;
    line-height: normal;
    border: 1px solid #333;
    border-bottom-color: #111;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	text-decoration:none;
	box-shadow: none;
}

.wdf-dark .wdf_send_donation:hover,
.wdf-dark .wdf_button:hover {
	
}
.wdf-dark .wdf_levels .reward {
	font-weight: bold;
	padding-left: 30px;
}
.wdf-dark.wdf_fundraiser_panel > div {
	margin: 10px 0px;
}
.wdf-dark .wdf_big_num, .wdf-dark .wdf_time_left {
	font-size: 2em;
}
.wdf-dark .ui-progressbar{
	height: 1em;
	margin: 10px 0 0 0;
}
.wdf-dark div.wdf_backer_button {
	margin: 20px 0px 20px 0px;
}
.wdf-dark .wdf_reward_item  {
	margin: 10px 0px 10px 0px;
}
.widget_wdf_fundraiser_panel .wdf-dark .wdf_level_amount {
	float: left;
	font-size: 2em;
	padding-right: 8px;
}
.wdf-dark .wdf_bp_show_on_activity {

}
.wdf-dark.wdf_checkout_form .wdf_reward_choice .wdf_level_amount {
	font-size: 2em;
	cursor: pointer;
}
.wdf-dark .wdf_checkout_form .wdf_reward_choice input[type="radio"] {
	float: left;
}
.wdf-dark .wdf_choose_reward_title {
	font-size: 2.5em;
	margin-top: 15px;
}
.wdf-dark .ui-progressbar{
	height: 1em;
	margin: 10px 0 0 0;
	background: #444;
	border: 1px solid #111;
}

/* 62863-1338483608 */